@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
@import "./styles/normalize.css";

* {
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    margin: 0;
    padding: 0;
    background-color: #fafbff;
}

ul, li {
    margin: 0;
    padding: 0;
    list-style: none;
}

.app {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    display: flex;
}